<!DOCTYPE html>
<html lang="en" ng-app="Application">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="rogui.sh | <%= title %>" />
        <meta name="keywords" content="HTML,CSS,JavaScript" />
        <meta name="author" content="Robert Vandiver" />

        <title>rogui.sh | <%= title %></title>
        <link rel="icon" type="image/png" href="images/favicon.png">
        <link href="assets/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <%= content %>
        <script type='text/javascript' src="/assets/roguish.js"></script>
    </body>
</html>
